<form class="form-vertical" method="post" action="file-upload" enctype="multipart/form-data">
    <fieldset>
        <div class="page-header">
        <img src="<%=user.avatar%>">
              <div class="form-actions">
                              <button type="submit" class="btn btn-primary">Change avatar</button>
                      </div>

                  <input id="fileupload" type="file" name="displayImage">

        </div>

    </fieldset>

</form>