<div class="hero-unit">
    <h1>Welcome to Let's Program!</h1>
    <p>Try it now.</p>
    <p>
        <a class="btn btn-primary btn-large" href="/login">Get Started</a>
        <a class="btn btn-large" href="/reg">Sign up Now!</a>
    </p>
</div>