<form class="form-horizontal" method="post">
<fieldset>
    <legend>New Project</legend>
    <div class="control-group">
        <label class="control-label" for="projname">Project Name</label>
            <div class="controls">
            <input type="text" class="input-xlarge" id="projname" name="projname">
        </div>
    </div>
    <div class="row">
         <div class="span0">
            <div class="control-group">
                        <label class="control-label" for="select01">It's a</label>
                        <div class="controls">
                          <select id="selectLang" name="selectLang">
                            <option value="C">C</option>
                            <option value="C++">C++</option>
                            <option value="Java">Java</option>
                            <option value="Python">Python</option>
                            <option value="Perl">Perl</option>
                            <option value="Text">Plain Text</option>
                          </select>
                        </div>
                      </div>
         </div>
         <div class="span0">
            <p> project.</p>
         </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create Project</button>
    </div>
</fieldset>
</form>