<form class="form-horizontal" method="post">
<fieldset>
<legend>Verify identification</legend>
<div class="control-group">
<label class="control-label" for="username">User Name</label>
<div class="controls">
<input type="text" class="input-xlarge" id="username" name="username">
</div>
</div>
<div class="form-actions">
<button type="submit" class="btn btn-primary" onclick="CheckMail(username.val())">Send mail</button>
</div>
</fieldset>
</form>